body {
    backgroound-color: #3b2b4b;
    font-family: Fantasy;
    font-weight: 20%;
  }
  
  .header {
    margin-left: 12vw;
    margin-right: 3vw;
  }
  
  h1 {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  
  .basics {
    margin-right: 50vw;
    width: 50vw;
  }
  
  input, select, textarea {
    background-color: grey;
  }
  
  .quest {
    margin-top: 10%
    margin-bottom: 0;
    }
  
    form {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    